.box{
    padding: 0rem 0.5rem;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chatTop{
    overflow-y: scroll;
    height: 100%;
}
    /* width */
    ::-webkit-scrollbar {
        width: 4px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1; 
        border-radius: 20px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 20px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }



.chatBottom{
    margin-top: 1rem;
}