.comment_box{
    display: flex;
    gap: 0.4rem;
    align-items: center;
    width: 100%;
}

.profile_img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.input{
    flex: 1;
    padding: 0.2rem;
    border-radius: 0.3rem;
    outline: none;
    border: none;
}

.button{
    padding: 0.2rem;
    border-radius: 0.4rem;
}