.conversation{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    width: 100%;
    padding: 1rem 0.3rem;
    cursor: pointer;
}

.conversation:hover{
    background-color: #242526;
}

.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.name{
    font-size: 1rem;
    color: white;
}