.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    padding: 0.3rem 0.5rem;
    outline: none;
    border-radius: 1rem;
    border: none;
    background-color: #242526;
    color: white;
}

.input::placeholder{
    padding: 0px 10px;
}

.conversation_part{
    margin-top: 1rem;
}