.message_box{
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    margin-top: 1rem;
    gap: 0px;
}

.message{
    display: flex;
    gap: 0.5rem;
}

.image{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.text{
    color: white;
    font-size: 1;
    background-color: #0F6E5A;
    border-radius: 0.5rem;
    padding: 0.2rem;
}

.time{
    font-size: 0.9rem;
    color: gray;
    display: flex;
    justify-content: flex-end;
    margin-top: -1rem;
}