
.img {
    height: 70px;
    width: 70px;
    /* object-fit: cover; */
}

.list{
    list-style: none;
    font-size: 20px;
    display: flex;
    margin-right: 50px;
    margin-top: 10px;
}

.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.icons{
    color: #0F6E5A;
    font-size: 1.5rem;
    cursor: pointer;
}

.profileImg{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}