.online_user{
    display: flex;
    align-items: center;
    gap: 0.9rem;
    width: 100%;
    padding: 0.5rem 0.3rem;
    cursor: pointer;
}

.image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

.online_dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: limegreen;
}

.name{
    font-size: 1rem;
    color: white;
    font-weight: 500;
}